html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* elements resets */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #000000;
  --secondary-text-color: #231f20;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f1f1f2;
  --menu-bg-color: #fafafa;
  --inverted-bg-color: #231f20;
  --inverted-text-color: #ffffff;
  --accent-color: #f7941e;
  --transition-params: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navmenu__list, .occasions__list, .blog__list, .footer__menu, .social__menu {
  list-style: none;
}

.navmenu__link, .blog__link, .footer__link, .occasion__link {
  text-decoration: none;
  color: inherit;
}

.navmenu__link:hover, .blog__link:hover, .footer__link:hover, .navmenu__link:focus, .blog__link:focus, .footer__link:focus, .navmenu__link:active, .blog__link:active, .footer__link:active {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

.container--full-width {
  width: none;
  max-width: 1440;
  padding: 0;
}

/* header text */
.section__heading {
  color: var(--main-text-color);
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: calc(45 / 32);
  text-align: center;
}

.section__heading--left {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .section__heading {
    margin-bottom: 50px;
  }
}

.strong-text {
  font-weight: 700;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.section--gray {
  background-color: var(--secondary-bg-color);
}

.logo {
  display: block;
  width: 41px;
  height: 39px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 105px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    width: 150px;
  }
}

.logo--colored, .logo:hover, .logo:focus, .logo:active {
  fill: var(--accent-color);
}

.logo--colored:hover, .logo--colored:focus, .logo--colored:active {
  fill: var(--main-text-color);
}

.header {
  padding: 31px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 36px 34px;
  }
}

.navmenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .navmenu {
    display: block;
  }
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__item:not(:last-child) {
  margin-right: 31px;
}

@media screen and (min-width: 1440px) {
  .navmenu__item:not(:last-child) {
    margin-right: 36px;
  }
}

.navmenu__link {
  font-size: 16px;
  line-height: 1.17;
}

@media screen and (min-width: 1440px) {
  .navmenu__link {
    font-size: 18px;
    line-height: 1.18;
  }
}

.gift-finder__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
  border-radius: 5px;
  color: var(--accent-color);
  background-color: transparent;
  border: solid 1px var(--accent-color);
  width: 105px;
  height: 55px;
}

.gift-finder__btn:active, .gift-finder__btn:focus, .gift-finder__btn:hover {
  color: var(--main-text-color);
  background-color: transparent;
  border: solid 1px var(--inverted-bg-color);
}

@media screen and (min-width: 1440px) {
  .gift-finder__btn {
    width: 150px;
    height: 44px;
  }
}

.header__menu-btn {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.hero__section {
  position: relative;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__section {
    height: 700px;
  }
}

.hero__image-wrapper {
  position: relative;
  width: 100%;
  height: 305px;
  overflow: hidden;
  background: var(--inverted-bg-color);
}

@media screen and (min-width: 768px) {
  .hero__image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 700px;
    width: calc(222px + 34.5vw);
  }
}

@media screen and (min-width: 1440px) {
  .hero__image-wrapper {
    width: 720px;
  }
}

@media screen and (min-width: 768px) {
  .hero__image-wrapper {
    opacity: 0.5;
  }
}

@media screen and (min-width: 850px) {
  .hero__image-wrapper {
    opacity: 0.6;
  }
}

@media screen and (min-width: 950px) {
  .hero__image-wrapper {
    opacity: 0.7;
  }
}

@media screen and (min-width: 1100px) {
  .hero__image-wrapper {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1250px) {
  .hero__image-wrapper {
    opacity: 0.9;
  }
}

@media screen and (min-width: 1440px) {
  .hero__image-wrapper {
    opacity: 1;
  }
}

.hero__img {
  display: block;
  width: 480px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 720px;
  }
}

.hero__content {
  padding-top: 75px;
  padding-right: 58px;
  padding-bottom: 75px;
  padding-left: 58px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.hero__heading {
  font-weight: 900;
  font-size: 38px;
  line-height: calc(45 / 38);
  margin-bottom: 42px;
  letter-spacing: -0.03em;
}

.hero__text {
  max-width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 1.4062;
  text-align: center;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
  border-radius: 5px;
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

.hero__btn:active, .hero__btn:focus, .hero__btn:hover {
  color: var(--accent-color);
  background-color: transparent;
  border: solid 1px var(--accent-color);
}

.occasions__tagline {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.occasion {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.occasion:not(:last-child) {
  margin-bottom: 50px;
}

.occasion__img {
  display: block;
}

.occasion__link {
  display: block;
  background-color: var(--menu-bg-color);
}

.occasion__link:active, .occasion__link:focus, .occasion__link:hover {
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.occasion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 166px;
  padding: 24px;
}

.occasion__name {
  font-size: 20px;
  line-height: 1.17;
}

.occasion__pointer-text {
  margin-top: auto;
  font-size: 14px;
  line-height: calc 1.35714;
}

.about__section {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.about__image-wrapper {
  position: relative;
  width: 100%;
  height: 134px;
  overflow: hidden;
  background: var(--inverted-bg-color);
}

.about__img {
  display: block;
  width: 480px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__content {
  padding-top: 62px;
  padding-right: 16vw;
  padding-bottom: 64px;
  padding-left: 16vw;
}

@media screen and (min-width: 480px) {
  .about__content {
    padding-right: 76px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    padding-right: 84px;
    padding-left: 80px;
  }
}

.about__text {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.4062;
  text-align: justify;
}

.about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
  border-radius: 5px;
  color: var(--accent-color);
  background-color: transparent;
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

.about__btn:active, .about__btn:focus, .about__btn:hover {
  color: var(--main-text-color);
  background-color: transparent;
  border: solid 1px var(--inverted-bg-color);
}

.occasions__tagline {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.occasion {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.occasion:not(:last-child) {
  margin-bottom: 50px;
}

.occasion__img {
  display: block;
}

.occasion__link {
  display: block;
  background-color: var(--menu-bg-color);
}

.occasion__link:active, .occasion__link:focus, .occasion__link:hover {
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.occasion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 166px;
  padding: 24px;
}

.occasion__name {
  font-size: 20px;
  line-height: 1.17;
}

.occasion__pointer-text {
  margin-top: auto;
  font-size: 14px;
  line-height: calc 1.35714;
}

.call__section {
  background-color: var(--accent-color);
}

@media screen and (max-width: 480px) {
  .call__section .container {
    padding-left: 52px;
    padding-right: 52px;
  }
}

.buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: calc(-1 * 10px / 2);
  margin-top: calc(-1 * 16px / 2);
  margin-bottom: calc(-1 * 16px / 2);
}

.call__button {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: calc((100% - (10px * 2)) / 2);
  margin: calc(10px / 2);
  margin-top: calc(16px / 2);
  margin-bottom: calc(16px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
  border-radius: 5px;
  color: var(--main-text-color);
  background-color: transparent;
  border: solid 1px var(--inverted-bg-color);
}

.call__button:active, .call__button:focus, .call__button:hover {
  color: var(--inverted-text-color);
  border: solid 1px var(--inverted-text-color);
}

.call__button--accented {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  cursor: pointer;
  border-radius: 5px;
  color: var(--inverted-text-color);
  background-color: var(--inverted-bg-color);
  border: solid 1px var(--inverted-bg-color);
}

.call__button--accented:active, .call__button--accented:focus, .call__button--accented:hover {
  color: var(--accent-color);
  border: solid 1px var(--inverted-bg-color);
}

.blog__tagline {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.36;
  text-align: center;
}

.blog__highlight,
.blog__item {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.blog__highlight {
  margin-bottom: 40px;
  color: var(--inverted-text-color);
  background-color: var(--inverted-bg-color);
}

.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 246px;
  padding: 24px 38px;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 290px;
  padding: 48px 32px;
}

.blog__item:hover, .blog__item:focus {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog__item:not(:last-child) {
  margin-bottom: 40px;
}

.blog__author {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.4;
}

.blog__title {
  margin-bottom: 22px;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
}

.blog__title--highlighted {
  margin-bottom: auto;
  font-size: 38px;
  line-height: 1.18;
  font-weight: 400;
}

.blog__lead-text,
.blog__link {
  font-size: 14px;
  line-height: 1.4;
}

.blog__lead-text {
  margin-bottom: auto;
}

.footer {
  background-color: var(--menu-bg-color);
  padding: 74px 40px 36px;
  text-align: center;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -24px;
}

@media screen and (min-width: 768px) {
  .footer__menu {
    margin: 0 -34px;
  }
}

.footer__menu::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 80vw;
  height: 1px;
  background-color: var(--main-text-color);
}

.footer__item {
  margin: 0 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .footer__item {
    margin: 0 34px;
  }
}

.footer__item--centered {
  margin: 0;
  position: absolute;
  top: -64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .footer__item--centered {
    position: static;
    -webkit-transform: none;
            transform: none;
    margin: 0 34px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__item--centered {
    margin: 0 107px;
  }
}

.footer__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.credits__text,
.credits__link {
  display: inline-block;
  margin-top: 51px;
  font-size: 14px;
  line-height: 1.4;
}

.credits__link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}

.credits__link:active, .credits__link:focus, .credits__link:hover {
  color: var(--accent-color);
}

.social__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 34px -12px 0;
}

.social__item {
  display: block;
  margin: 0 12px;
}

.social__link {
  color: inherit;
}

.social__link:hover, .social__link:focus {
  color: var(--accent-color);
}

.social__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */