.about__section {
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about__container {
    width: 100%;
    display: flex;
  }
}

.about__image-wrapper {
  position: relative;
  width: 100%;
  height: 134px;
  overflow: hidden;

  background: var(--inverted-bg-color);

  @media screen and (min-width: 768px) {
    width: calc(100% - (222px + 34.5vw)); //see hero image for details
    height: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 50%;
  }
}

.about__img {
  display: block;
  width: 480px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 721px;
    height: auto;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  @media screen and (min-width: 880px) {
    transform: translate(-50%, -50%) rotate(-75deg);
  }

  @media screen and (min-width: 992px) {
    transform: translate(-50%, -50%) rotate(-60deg) scale(110%);
  }

  @media screen and (min-width: 1104px) {
    transform: translate(-50%, -50%) rotate(-45deg) scale(120%);
  }

  @media screen and (min-width: 1216px) {
    transform: translate(-50%, -50%) rotate(-30deg) scale(120%);
  }

  @media screen and (min-width: 1328px) {
    transform: translate(-50%, -50%) rotate(-15deg) scale(110%);
  }

  @media screen and (min-width: 1440px) {
    transform: translate(-50%, -50%);
  }
}

.about__content {
  padding-top: 62px;
  padding-right: 16vw;
  padding-bottom: 64px;
  padding-left: 16vw;

  @media screen and (min-width: 480px) {
    padding-right: 76px;
    padding-left: 76px;
  }

  @media screen and (min-width: 768px) {
    width: calc(222px + 34.5vw); //see hero image for details
    margin: 0;
    padding-right: 84px;
    padding-left: 80px;
  }
  @media screen and (min-width: 1440px) {
    width: 50%;
  }
}

.about__text {
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 1.4062;
  text-align: justify;
}

.about__btn {
  @include button();
  margin: 0 auto;
  padding: 19px 24px;
  min-width: 200px;
}
