.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 767px) {
    min-width: 320px;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1440px) {
    width: 1200px;
  }
}

.container--full-width {
  width: none;
  max-width: 1440;
  padding: 0;
}

/* header text */
.section__heading {
  color: var(--main-text-color);
  font-weight: 400;

  margin-bottom: 24px;

  font-size: 32px;
  line-height: calc(45 / 32);
  text-align: center;

  &--left {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.strong-text {
  font-weight: 700;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: 1200px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &--gray {
    background-color: var(--secondary-bg-color);
  }
}
