.call__section {
  background-color: var(--accent-color);
}

.call__wrapper {
  padding-left: 37px;
  padding-right: 37px;

  @media screen and (min-width: 768px) {
    padding-left: 57px;
    padding-right: 57px;
  }

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 0px;
    padding-right: 0px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.call__heading {
  @media screen and (min-width: 960px) {
    margin-bottom: 0;
  }
}

.buttons-block {
  @include flex_grid(10px, 16px);
}

.call__button {
  @include flex_grid_item(2, 10px, 16px);

  @include button(dark);

  &--accented {
    @include button(dark-inverted);
  }

  @media screen and (min-width: 960px) {
    width: auto;
  }

  @media screen and (min-width: 1440px) {
    width: 200px;
  }
}
