.header {
  padding: 31px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 1440px) {
    padding: 36px 34px;
  }
}

.navmenu {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navmenu__list {
  @extend %list;
  display: flex;
}

.navmenu__item:not(:last-child) {
  margin-right: 31px;

  @media screen and (min-width: 1440px) {
    margin-right: 36px;
  }
}

.navmenu__link {
  @extend %link;
  font-size: 16px;
  line-height: 1.17;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.18;
  }
}

.gift-finder__btn {
  @include button(normal);
  width: 105px;
  height: 55px;

  @media screen and (min-width: 1440px) {
    width: 150px;
    height: 44px;
  }
}

.header__menu-btn {
  width: 40px;
  height: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
