.hero__section {
  position: relative;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    height: 700px;
  }
}

.hero__image-wrapper {
  position: relative;
  width: 100%;
  height: 305px;
  overflow: hidden;

  background: var(--inverted-bg-color);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 700px;
    width: calc(222px + 34.5vw);
    // 768 vw=7.7,  1440 vw=14.4

    // x + 7.7y = 488;
    // x + 14.4y = 720;

    // y = (488 - x) / 7.7;
    // x + 14.4 * (488 - x) / 7.7 = 720;

    // x - 1.87x + 913 = 720;
    // x = 222;

    // y = 34.5;
  }

  @media screen and (min-width: 1440px) {
    width: 720px;
  }

  @media screen and (min-width: 768px) {
    opacity: 0.5;
  }
  @media screen and (min-width: 850px) {
    opacity: 0.6;
  }
  @media screen and (min-width: 950px) {
    opacity: 0.7;
  }
  @media screen and (min-width: 1100px) {
    opacity: 0.8;
  }
  @media screen and (min-width: 1250px) {
    opacity: 0.9;
  }
  @media screen and (min-width: 1440px) {
    opacity: 1;
  }
}

.hero__img {
  display: block;
  width: 480px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 720px;
  }
}

.hero__content {
  padding-top: 75px;
  padding-right: 58px;
  padding-bottom: 75px;
  padding-left: 58px;

  @media screen and (min-width: 768px) {
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.hero__heading {
  font-weight: 900;
  font-size: 38px;
  line-height: calc(45 / 38);
  margin-bottom: 42px;
  letter-spacing: -0.03em;
}

.hero__text {
  max-width: 272px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;

  font-size: 18px;
  line-height: 1.4062;
  text-align: center;
}

.hero__btn {
  @include button(inverted);
  margin: 0 auto;
}
