.logo {
  display: block;
  width: 41px;
  height: 39px;

  fill: currentColor;

  &--colored,
  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }

  &--colored:hover,
  &--colored:focus,
  &--colored:active {
    fill: var(--main-text-color);
  }
}
