.logo {
  display: block;
  width: 41px;
  height: 39px;

  @media screen and (min-width: 768px) {
    width: 105px;
  }

  @media screen and (min-width: 1440px) {
    width: 150px;
  }

  fill: currentColor;

  &--colored,
  &:hover,
  &:focus,
  &:active {
    fill: var(--accent-color);
  }

  &--colored:hover,
  &--colored:focus,
  &--colored:active {
    fill: var(--main-text-color);
  }
}
