:root {
  --main-text-color: #000000;
  --secondary-text-color: #231f20;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f1f1f2;
  --menu-bg-color: #fafafa;
  --inverted-bg-color: #231f20;
  --inverted-text-color: #ffffff;
  --accent-color: #f7941e;

  --transition-params: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
